# services/simulation-svc/.air.toml

root = "../.."
tmp_dir = "tmp"

[build]
  bin = "./tmp/simulation-svc"
  cmd = "go build -o ./tmp/simulation-svc ./services/simulation-svc/cmd/main.go"
  delay = 1000
  exclude_dir = ["tmp", "vendor", "testdata", "tests"]
  exclude_file = []
  exclude_regex = ["_test.go"]
  exclude_unchanged = false
  follow_symlink = false
  full_bin = ""
  include_dir = ["services/simulation-svc", "pkg", "gen"]
  include_ext = ["go", "tpl", "tmpl", "html"]
  kill_delay = "2s"
  log = "build-errors.log"
  send_interrupt = false
  stop_on_error = true

[color]
  app = ""
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[log]
  time = false

[misc]
  clean_on_exit = true
